[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/siniy80
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/siniy80
	label-Verified = -1..+1 group user/siniy80
	push = group user/siniy80
	read = group user/siniy80
	rebase = group user/siniy80
	removeReviewer = group user/siniy80
	submit = group user/siniy80
[access "refs/heads/*"]
	create = group user/siniy80
	push = +force group user/siniy80
	pushMerge = group user/siniy80
	read = group user/siniy80
[access "refs/tags/*"]
	push = group user/siniy80
	push = +force group user/siniy80
